
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  
    --text-color-02: #f5f2f2;
    --bg-color-01: #f4f1f1bb;
    --bg-color-02: #201f1f;
    --bg-color-03: #553e3ee1;
    --bg-color-05: #cc8787e1;
    --bg-color-06: #ebe5e5f1;  /*#3f3f410c; */

    --color-01: #664040d5;
    --color-02: #4198c0de;
    --color-03: #5239e0a6;
    --color-04: #412828d5;
    --color-05: #5e2b2bf8;
    --color-06: #2f2b63e3;
    --color-07: #e7c4c4d7;
    --bg-color-08: #ccbbbb63;
}

.home-content h3, h1, span {
    font-family: 'Cinzel', serif;
    font-size: 21px;
}

.home-content-setup h3 {
    font-family: 'Cinzel', serif;
    font-size: 21px;
}



.home-content span {
    color: var(--color-06);
    font-weight: 900;
}

#contentabout h1 {
    font-family: 'Cinzel', serif;
    }

#contentabout h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
        }

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color-01);
    color: var( --text-color);


}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-01);
    width: 100%;
    padding: 2.8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 1px 8px 19px -7px rgba(0,0,0,0.71);
-webkit-box-shadow: 1px 8px 19px -7px rgba(0,0,0,0.71);
-moz-box-shadow: 1px 8px 19px -7px rgba(0,0,0,0.71);
    
}

.logo {
    font-size: 1.7rem;
    color: var( --text-color-02);
    font-weight: 600;
    cursor: pointer;
    margin-left: 5vw;
    

}

.nav {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: 0.4s;
    letter-spacing: 0.7px;
    min-width: 30%;
    
}

.nav a {
    margin-left: 10px;
    color: var( --text-color-02);
    position: relative;
    display: inline-block;
}


.nav a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: var(--bg-color-01);
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

.nav a:hover:before {
    transform: scaleX(1);
}


.nav a:hover {
    color: var(--bg-color-01);
}

section {
    min-height: 100vh;
    padding: 8rem 6rem 2rem;
}



.home {
    display: flex;
    align-items: center; 
    justify-content: center;  
    flex-wrap: wrap; 
    gap: 20px;
}




.home .img {
    margin-right: 20px; 
    
    
}



.home .img img {
    max-width: 100%; 
    height: auto; 
    transition: 0.7s ease;
    cursor: pointer;
}

.home .img img:hover {
    transform: scale(1.11);
}



.home-content {
    max-width: 600px; 
}




.img img {
    border-radius: 50%;
    height: 236px;
    width: 250px;
    margin-top: 0%;
    box-shadow: 1px 2px 9px 5px rgba(0,0,0,0.28);
    -webkit-box-shadow: 1px 2px 9px 5px rgba(0,0,0,0.28);
    -moz-box-shadow: 1px 2px 9px 5px rgba(0,0,0,0.28);
    
}

.home-setup {
    margin-top: -100px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px;
    text-align: center;
    
}

.img-setup {
    margin-right: 20px; 
    margin-left: -250px;
}

.img-setup img {
    max-width: 100%; 
    height: auto; 
    box-shadow: -3px 2px 25px -3px rgba(0,0,0,0.73);
    -webkit-box-shadow: -3px 2px 25px -3px rgba(0,0,0,0.73);
    -moz-box-shadow: -3px 2px 25px -3px rgba(0,0,0,0.73);
}

.home-content-setup {
    max-width: 600px; 
    flex: 0;

        
}

.home-content-setup p {
    width: 50vh;
}

.img-setup {
    position: relative; 
    display: inline-block; 
    width: fit-content; 
    cursor: pointer;
    
}

.img-text, .img-setup::after {
    width: 100%;
    position: absolute;
    left: 0;
    

}

.img-setup::after {
    content: '';
    height: 100%;
    top: 0;
   

}

.img-setup:hover:after {
    background: linear-gradient(to bottom, rgba(216, 208, 221, 0) 0, rgba(187, 91, 120, 0) 25%, rgba(209, 192, 196, 0.096) 50%, rgba(189, 3, 56, 0.466) 75%, rgba(126, 7, 41, 0.911)) 100%;
    margin-top: -7px;
}

.img-text {
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1;
    transform: all .5s cubic-bezier(.13, .62, .81, .91) 0s;
}

.img-text:hover, .img-text {
    transform: translateY(0);
}

.img-text h3 {
    color: floralwhite;
    opacity: 0;
}

.img-setup:hover .img-text h3 {
    opacity: 1; 
    font-size: 25px;
    font-weight: 500;

}

.img-text {
    color: white;
}

a:visited {
    color: #ffffff; 
}

/*secção da media query*/

/* Media query para iPhone 390x844 */
@media (max-width: 600px) {
    .home-setup {
        flex-direction: column;
        align-items: center;
    }

    .img-setup {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-setup img {
        max-width: 300px;
        height: auto;
    }

    .home-content-setup {
        max-width: 100%;
        text-align: center;
    }

    .pngs {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        transform: translateX(-45px); /* Ajustar conforme necessário */
    }

    .pngs ul {
        flex-direction: column;
        align-items: center;
        margin-left: 0; /* Removido ajuste da margem esquerda para alinhamento central */
    }

    .pngs ul li {
        margin: 10px 0;
    }

    .img-setup {
        position: relative;
        display: inline-block;
        width: fit-content;
        cursor: pointer;
    }

    .img-text, .img-setup::after {
        width: 100%;
        position: absolute;
        left: 0;
    }

    .img-setup::after {
        content: '';
        height: 100%;
        top: 0;
    }

    .img-setup:hover::after {
        background: linear-gradient(to bottom, rgba(216, 208, 221, 0) 0, rgba(187, 91, 120, 0) 25%, rgba(209, 192, 196, 0.096) 50%, rgba(189, 3, 56, 0.466) 75%, rgba(126, 7, 41, 0.911)) 100%;
    }

    .img-text {
        padding: 20px;
        margin-bottom: 20px;
        bottom: 0;
        z-index: 1;
        transform: all .5s cubic-bezier(.13, .62, .81, .91) 0s;
    }

    .img-text:hover, .img-text {
        transform: translateY(0);
    }

    .content-p {
        width: 90vw; /* Ajustado para usar a unidade vw em vez de vh */
        height: auto;
    }
}

/* Media query para dispositivos maiores, caso necessário */
@media (max-width: 367px) {
    .home-setup {
        flex-direction: column;
        align-items: center;
    }

    .img-setup {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-setup img {
        max-width: 300px;
        height: auto;
    }

    .home-content-setup {
        max-width: 100%;
        text-align: center;
    }

    .pngs {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        transform: translateX(-70px);
    }

    .pngs ul {
        flex-direction: column;
        align-items: center;
    }

    .pngs ul li {
        margin: 10px 0;
    }

    .img-setup {
        position: relative;
        display: inline-block;
        width: fit-content;
        cursor: pointer;
    }

    .img-text, .img-setup::after {
        width: 100%;
        position: absolute;
        left: 0;
    }

    .img-setup::after {
        content: '';
        height: 100%;
        top: 0;
    }

    .img-setup:hover::after {
        background: linear-gradient(to bottom, rgba(216, 208, 221, 0) 0, rgba(187, 91, 120, 0) 25%, rgba(209, 192, 196, 0.096) 50%, rgba(189, 3, 56, 0.466) 75%, rgba(126, 7, 41, 0.911)) 100%;
    }

    .img-text {
        padding: 20px;
        margin-bottom: 20px;
        bottom: 0;
        z-index: 1;
        transform: all .5s cubic-bezier(.13, .62, .81, .91) 0s;
    }

    .img-text:hover, .img-text {
        transform: translateY(0);
    }

    .content-p {
        width: 90vw; /* Ajustado para usar a unidade vw em vez de vh */
        height: auto;
    }
}


/*finalização da query*/

.social-media {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 50px 5px 10px;
    position: relative;
    
}

.social-media a {
    width: 50% 50%;
    font-size: 50%;
    color: var(--color-04);
    transition: transform 0.3s ease;
    
}

.social-media a:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
    color: var(--color-02); 
}

.insta {
    width: 53px;
    
}

.linkedin {
    width: 50px;
    
}


.doc {
    width: 50px;
    
}

 a:hover::after {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: var(--color-black);
    content: attr(data);
}


.pngs {
    margin-left: 24%;
    margin-bottom: 0;
}

.pngs ul li {
    list-style: none;
     display: flex;
     align-items: center;
     margin: 10px;
     padding: 10px;
     position: relative;
     
}

.pngs ul li img {
    width: 30px;
 height: auto;
 transition: transform .3s ease;
 
}

.pngs ul {
    display: flex;
    align-items:center;
    flex-direction: row;
}

.pngs ul li div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.pngs ul li div:hover::after {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: var(--color-black);
    
}

.navbar {
    display: none;
}

#checkbox {
    display: none;
}


@media screen and (max-width: 400px) {
    .nav {
        position: absolute;
        top: 72px;
        right: 0;
        width: 100vw;
        background: var(--bg-color-06);
        height: 0;
        overflow: hidden;
        box-shadow: -2px 7px 26px -3px rgba(0,0,0,0.75);
        display: none;
        flex-direction: column; /* Mudado para coluna para melhor exibição em dispositivos pequenos */
        gap: 20px;
        padding: 0;
    }

    .nav a {
        font-size: 1.2rem;
        color: black;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

    .nav a:hover {
        color: #2b2550d2;
        font-weight: 600;
    }

    input:checked ~ .nav {
        height: auto; /* Ajustado para altura automática quando o menu estiver visível */
        padding: 50px 0;
        display: flex; /* Exibe o menu quando o checkbox está marcado */
        border-radius: 2px; /* Simplificado para shorthand */
        margin-left: 15px;
    }

    .navbar {
        display: block;
        width: 60px;
    }

    .navbar label {
        font-size: 2rem;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        cursor: pointer;
        right: 10px;
        margin-top: -25px;
    }

    .img-setup {
        position: relative;
        display: inline-block;
        width: fit-content;
        cursor: pointer;
    }

    .img-text, .img-setup::after {
        width: 100%;
        position: absolute;
        left: 0;
    }

    .img-setup::after {
        content: '';
        height: 100%;
        top: 0;
    }

    .img-setup:hover::after {
        background: linear-gradient(to bottom, rgba(216, 208, 221, 0) 0, rgba(187, 91, 120, 0) 25%, rgba(209, 192, 196, 0.096) 50%, rgba(189, 3, 56, 0.466) 75%, rgba(126, 7, 41, 0.911)) 100%;
    }

    .img-text {
        padding: 20px;
        margin-bottom: 20px;
        bottom: 0;
        z-index: 1;
        transform: all .5s cubic-bezier(.13, .62, .81, .91) 0s;
    }

    .img-text:hover, .img-text {
        transform: translateY(0);
    }

    .content-p {
        width: 90vw; /* Alterado para vw para se ajustar melhor à largura da tela */
        height: auto;
    }
}


.content h3 {
    margin-top: 12px;
}

.content p {
    width: 100%;
    padding: 25px 25px 25px 25px;
}

.contact {
    margin-top: 80px;
    width: 50vh;
    margin: 50px auto;
    padding: 30px;
    height: auto;
    font-family: "Poppins", sans-serif;
    transition: 0.1s ease;
    cursor: pointer;
    
}




.contact h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    
}



.contact h3:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.22);
    transform: scaleX(1.02);
    
}

.contact h1 {
    cursor: default;
}

.contact a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #201f1f;
}

#tag {
    margin-top: 8px;  /*afastando o símbolo do whatsapp do e-mail*/
    width: 10%;
    margin-left: 130px;
    
}


